$text-color-white: rgb(255, 255, 255);
$text-color-light-grey: rgb(108, 114, 132);
$text-color-grey: rgb(106, 106, 113);
$text-color-black: rgb(0, 0, 0);

$logo-color: #bb5bf4;

$page-background-color: rgb(31, 33, 40);
$component-background-color: rgb(25, 27, 31);
$navbar-active-link-background-color: rgb(44, 47, 54);
$button-hover-color: rgb(64, 68, 79);

$breakpoint-tablet: 700px;
$breakpoint-mobile: 500px;
$breakpoint-desktop: 1200px;
