@import '../../styles/constants';

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 5rem;
  background-color: $page-background-color;
  color: #fff;
  border-radius: 12px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  text-align: center;
}
.tooltip .tooltipText::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $page-background-color transparent transparent;
}
.tooltip:hover .tooltipText {
  visibility: visible;
}
