@import '../../styles/colors';
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 5rem;
  background-color: $page-background-color;
  color: #fff;
  border-radius: 12px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip .tooltipText::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltipText {
  visibility: visible;
}

table {
  margin-top: 2rem;
  border-spacing: 0;
  border: 1px solid $text-color-grey;

  tr {
    &:hover {
      background-color: $navbar-active-link-background-color;
    }
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $text-color-grey;
    border-right: 1px solid $text-color-grey;
    text-align: center;

    :last-child {
      border-right: 0;
    }
  }
  th {
    background-color: $navbar-active-link-background-color;
  }
  td:hover {
    background-color: $logo-color;
  }
  a {
    color: $text-color-white;
    text-decoration: none;
  }
}
