@import '../../styles/constants';

.checkbox {
  margin-right: 1rem;
}
.checkboxWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  &:hover {
    background: $logo-color;
    color: black;
  }
}
