@import '../../../styles/constants';

.cardContainer {
  width: 30rem;
  &:hover {
    transform: translateY(-5px) scale(1.05);
    transition: all 0.2s ease-in;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: 40rem;
  }
}
